.header__container__text {
    padding: .10em -10em;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    min-height: 56px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 87%;
    /* Separate text from other text*/
    color: #000000;
    font-size: 1.1em;
  }
  
  .header__container {
    color: transparent;
    width: 100vh
  }
  
  .header__container__text__pages {
    margin: 0em 0.6em;
  }
  
  .header__container__text__description {
    background-color: #ffffff49;
    padding: var(--buttons_padding);
    margin: 0em 1em;
    border-radius: var(--buttons_border_radius);
  }
  
  .header__container__text__button {
    background-color: #ffffffc8;
    padding: var(--buttons_padding);
    border-radius: var(--buttons_border_radius);
    color: #000000;
  }
  
  .header__container__text__button:hover {
    transition: all 0.4s ease-in-out;
    background-color: #e91418;
    color: #fff;
    box-shadow: 0 0 30px #e94346, 0 0 50px #e94346, 0 0 90px #e94346;
  }  