.join_us__container {
    align-content: center;
    background: var(--courses-background-color);
    left: -12.1vh;
    position: relative;
    align-items: left;
    height: 800px;
    width: calc(100.7vw - var(--scrollbarWidth));
    top: 33rem;
    border-radius: 642% 61% 32% 94%/45% 4% 0% 0%;
  }
  
  .join_us__container__title {
    font-style: normal;
    position: relative;
    opacity: .9;
    text-align: center;
    font-size: 2.7rem;
    padding-left: 5rem;
    padding-top: 8rem;
  }
  
  .join_us__container__buttons {
    padding: 7rem 0rem 0rem 0rem;
  }
  
  .join_us__container__button {
    margin-inline: 2rem;
    font-size: 1.7rem;
    background-color: #000000;
    color: #ffffff;
    padding: var(--buttons_padding);
    border-radius: var(--buttons_border_radius);
  }