/* Make a carrousel of courses and a card for each course */
 

.coursesCarrousel__container {
    display: flex;
    margin-inline: 7vw;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.coursesCarrousel__container__card {
    border-color: var(--courses-carrousel-border-color);
    border-radius: 10px;
    background-color: var(--courses-card-background-color);
    height: 480px;
    width: calc(16.6vw - var(--scrollbarWidth));
    box-shadow: var(--courses-card-box-shadow);
    margin-inline: 1vw;
}

.coursesCarrousel__container__card:hover {
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
    box-shadow: var(--courses-card-box-shadow-hover);
}

.separator {
    border: 1px solid var(--courses-card-separator-color);
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
}

.coursesCarrousel__container__card__title {
    color: var(--body-color);
    font-size: 1.6vw;
    margin-top: 0.1vw;
    margin-bottom: -1vw;
    padding-inline: .16vw;
    text-align: center;
    position: relative;
    bottom: 23.5vw;
    left: -63.1px;
}

.coursesCarrousel__container__card__description {
    margin-top: 0.1vw;
    font-size: 1.5vw;
    padding-inline: .16vw;
    position: relative;
    padding-left: 33.7vw;
    top: -24vw;
    padding-right: 0.3vw
}

.coursesCarrousel__container__card__link:hover {
    box-shadow: none;
    background-color: transparent;
    color: var(--body-color);
}

.coursesCarrousel__container__card__image__logo {
    width: 15vw;
    height: 9vw;
}