.main {
    position: relative;
    align-items: center;
    height: calc(115rem - var(--windowHeight));
    width: calc(121rem - var(--scrollbarWidth));
    padding: 0 7rem;
    padding-top: 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.main__title {
    font-size: 17rem;
    font-style: normal;
    top: 7rem;
    justify-content: left;
    position: relative;
    opacity: .9;
}

.main__button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-size: 1.6rem;
    padding: var(--buttons_padding);
    border-radius: 2.6rem;
    text-decoration: none;
    margin-inline: 25rem;
    
}