

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  --layoutWidthMax: 1080px;
  --scrollbarWidth: 30px;
  --windowWidth: calc(100vw - var(--scrollbarWidth));
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0px;
  margin-block: 0px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }
}

@media (min-width: 1112px) {
  html {
    --layoutWidth: var(--layoutWidthMax);
    --gutterWidth: calc(var(--windowWidth) / 2  - var(--layoutWidth) / 2);
  }
}
