@font-face {
  font-family: 'shneextrafett';
  src: url('../public/fonts/sohne-extrafett-webfont.woff2') format('woff2'),
       url('../public/fonts/sohne-extrafett-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


.header__container__text {
  padding: .5em 1em;
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  background-color: transparent;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1080px;
  /* Separate text from other text*/
}

.header__container {
  
}

.consts {
  --width: var(--windowWidth)
}

.typed-cursor {
  color: #ffffff;
}

.gradient_canvas {
  --gradient-color-1: #4663e8;
  --gradient-color-2: #0070f3;
  --gradient-color-3: #8497f0;
  --gradient-color-4: #bac5f8;
  --offSetX: var(--gutterWidth);
  border-radius: 0% 0% 1% 100%/0% 0% 0% 100%;
  right: 0.00001vh;
  position: absolute;
  align-items: left;
  height: 600px;
  width: calc(140.86vw - var(--scrollbarWidth));
}

.consts {
  opacity: 1;
}

.container {
  padding: 0 7rem;
}

.main {
  min-height: 100vh;
  padding: 9rem 0;
  padding-top: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}



.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-size: 7rem;
  font-style: normal;
  top: 12rem;
  font-family: 'shneextrafett';
  justify-content: left;
  position: relative;
  opacity: .9;
}

.title,
.description {
  text-align: left;
}

.italic {
  font-style: italic;
  color: #ffffff;
  border-radius: 10px;
  background-color: #0071f357;
  text-align: center;
  border-radius: 10px;
}


.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
