.header__container__text {
  padding: .10em -10em;
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 87%;
  /* Separate text from other text*/
  color: #000000;
  font-size: 1.1em;
}

.header__container {
  color: transparent;
  width: 100vh
}

.header__container__text__pages {
  margin: 0em 0.6em;
}

.header__container__text__description {
  background-color: #ffffff49;
  padding: var(--buttons_padding);
  margin: 0em 1em;
  border-radius: var(--buttons_border_radius);
}

.header__container__text__button {
  background-color: #ffffffc8;
  padding: var(--buttons_padding);
  border-radius: var(--buttons_border_radius);
  color: #000000;
}

.header__container__text__button:hover {
  transition: all 0.4s ease-in-out;
  background-color: #e91418;
  color: #fff;
  box-shadow: 0 0 30px #e94346, 0 0 50px #e94346, 0 0 90px #e94346;
}

.consts {
  --width: var(--windowWidth)
}

.typed-cursor {
  color: #ffffff;
}

.gradient_canvas {
  --gradient-color-1: #4663e8;
  --gradient-color-2: #0070f3;
  --gradient-color-3: #8497f0;
  --gradient-color-4: #bac5f8;
  --offSetX: var(--gutterWidth);
  border-radius: 0% 0% 1% 100%/0% 0% 0% 100%;
  right: 0.00001vh;
  position: absolute;
  align-items: left;
  height: 600px;
  width: calc(140.86vw - var(--scrollbarWidth));
}

.consts {
  opacity: 1;
}

.container {
  padding: 0 7rem;
}

.main {
  min-height: 100vh;
  padding: 9rem 0;
  padding-top: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title__container {
  margin-bottom: 10px;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-size: 7rem;
  font-style: normal;
  top: 12rem;
  justify-content: left;
  position: relative;
  opacity: .9;
}

.title,
.description {
  text-align: left;
}

.italic {
  font-style: italic;
  color: #ffffff;
  border-radius: 10px;
  background-color: #0071f357;
  text-align: center;
  border-radius: 10px;
}


.description {
  line-height: 1.5;
  font-size: 1.43rem;
  position: relative;
  top: 9.6rem;
  color: var(--little_text);
  padding: 1.56rem 0rem 0rem 0rem;
}

.title__button__primary {
  background-color: #2d52fdde;
  color: #ffffff;
  padding: var(--buttons_padding);
  border-radius: var(--buttons_border_radius);
  position: relative;
  top: 10rem;
}

.courses_info {
  min-height: 100vh;
  padding: 9rem 0;
  padding-top: 22px;
  flex: 1 1;
  flex-direction: column;
  position: relative;
}

.courses__info__container {
  align-content: center;
  background: #f6f9fc;
  left: -12vh;
  position: relative;
  align-items: left;
  height: 976px;
  width: 1902px;
  box-shadow: #0000005c 0px 0px 40px;
}

.courses__info__container__text__title {
  font-style: normal;
  top: 0rem;
  position: relative;
  opacity: .9;
  text-align: center;
  font-size: 5rem;
  padding-left: 7rem;
  padding-top: 6rem;
}

.courses__carrousel {
  padding: 75px 5rem 0rem 5rem;
  padding-top: 80px;
  max-height: 44rem;
  height: 35.2rem;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.courses__carrousel__container {
  margin-inline: -0.7rem;
    padding: 0rem 0rem 0 0rem;
    height: 483px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    min-height: 56px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 87%;
    color: #000000;
    font-size: 1.1em;
}

.courses__carrousel__container__card {
  border-color: #0020b0;
  border-radius: 10px;
  background-color: #ffffff;
  height: 480px;
  width: 300px;
  box-shadow: #0000001a 0px 0px 4px;
}

.courses__carrousel__container__card:hover {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
  box-shadow: #0000005c 0px 0px 40px;
}

.courses__carrousel__container__card__text__title {
  color: #2d52fdde;
}

.courses__carrousel__container__card__text__description {
  margin-top: 2px;
}

.courses__carrousel__container__card__text__title, .courses__carrousel__container__card__text__description {
  padding: 0rem 0.8rem 0rem 0.8rem;
}

.courses__carrousel__container__card__image {
  padding-inline: 10px;
  padding-top: 10px;
  border-radius: 100px;
}

.tools__container__title {
  position: relative;
  padding-left: 7rem;
  padding-top: 1.4rem;
  font-size: 2.6rem;
  color: #4566ffde;
}

.tools__container {
  align-content: center;
  background: #0a2540;
  left: -12.1vh;
  position: absolute;
  align-items: left;
  height: 689px;
  width: 1903px;
  top: 57rem;
  border-radius: 363% 61% 32% 94%/45% 4% 0% 0%;
}

.quote {
  position: relative;
    margin: 0rem;
    padding-top: 3.4rem;
    font-size: 2.1rem;
    color: #d9e3ed;
    height: 250px;
}

.quote__item {
  filter: invert(95%) sepia(4%) saturate(1314%) hue-rotate(180deg) brightness(94%) contrast(97%);
}

.quote__text {
  padding-top: 0rem;
  margin-top: 0rem;
  padding-left: 10.9rem;
  padding-right: 11rem;
  transform: translateY(-167px);
}

.quote__author__image {
  border-radius: 50%;
}

.join_us__container {
  align-content: center;
  background: #f6f9fc;
  left: -12.1vh;
  position: relative;
  align-items: left;
  height: 800px;
  width: 1902px;
  top: 33rem;
  border-radius: 642% 61% 32% 94%/45% 4% 0% 0%;
}

.join_us__container__title {
  font-style: normal;
  position: relative;
  opacity: .9;
  text-align: center;
  font-size: 2.7rem;
  padding-left: 5rem;
  padding-top: 8rem;
}

.join_us__container__buttons {
  padding: 7rem 0rem 0rem 0rem;
}

.join_us__container__button {
  margin-inline: 2rem;
  font-size: 1.7rem;
  background-color: #000000;
  color: #ffffff;
  padding: var(--buttons_padding);
  border-radius: var(--buttons_border_radius);
}

.logo {
  left: 1cm;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }

  .italic {
    color: #111;
    background-color: #0d52a099;
  }

  .logo {
    filter: invert(1);
  }

  .header__container__text {
    color: #ffffff;
  }

  .gradient_canvas {
    --gradient-color-1: #0020b0;
    --gradient-color-2: #0054b4;
    --gradient-color-3: #7383cc;
    --gradient-color-4: #838cb4;
  }

}
